@font-face {
    font-family: "RL";
    src: url(../font/Rubik-Light.ttf);
}

@font-face {
    font-family: "RR";
    src: url(../font/Rubik-Regular.ttf);
}

@font-face {
    font-family: "RB";
    src: url(../font/Rubik-Bold.ttf);
}